<ion-split-pane contentId="editor">
  <ion-menu contentId="editor" class="min-w-96 max-w-screen-lg order-3" [nwbSplitPane]="gutter">
    <nwb-assets-sidebar class="ion-page" #sidebar />
  </ion-menu>
  <nwb-split-gutter class="order-2" #gutter="gutter" />
  <div class="ion-page order-1" id="editor">
    <ion-header class="bg-base-300">
      <ion-toolbar>
        <div class="indicator ml-2">
          <span
            class="indicator-item indicator-start status animate-ping"
            [class.status-success]="service.isConnected()"
            [class.status-error]="!service.isConnected()"
          ></span>
          <span
            class="indicator-item indicator-start status"
            [class.status-success]="service.isConnected()"
            [class.status-error]="!service.isConnected()"
          ></span>
          <a [routerLink]="'.'" class="ml-2"> NWBT Pak Browser </a>
        </div>
      </ion-toolbar>
      <ion-toolbar class="bg-base-200" [style.--min-height]="'0'">
        <nwb-pak-navbar />
      </ion-toolbar>
    </ion-header>
    <ion-content>
      @switch (viewerType()) {
        @case ('image') {
          <nwb-pak-preview-image [source]="source()" />
        }
        @case ('model') {
          <nwb-pak-preview-model [source]="source()" />
        }
        @case ('slice') {
          <nwb-pak-preview-slice [source]="source()" />
        }
        @case ('code') {
          <nwb-pak-preview-code [source]="source()" />
        }
        @default {
          @if (!source()) {
            <nwb-pak-docs />
          } @else {}
        }
      }
    </ion-content>
  </div>
</ion-split-pane>
